set gfxmode=1024x768,auto
terminal_output gfxterm
set background_image="grub-bg.png"
set theme_mode="prefer-dark"
set color_normal=white/black
set color_highlight=cyan/blue

set timeout=2
set default=0

menuentry "KiJueWrt" {
	linux /boot/vmlinuz root=PARTUUID=%U/PARTNROFF=1 rootwait console=tty0 console=ttyS0,115200n8 noinitrd
	initrd /boot/initrd
}
